#Python cache files
__pycache__/
*.py[cod]

#Virtual enviroment
venv/
.venv/

#Enviroment variables
.env

#SQLite database
db.sqlite3

#User Files
media/
blog_images/

#Production collected static files
staticfiles/

#VS Code settings
.vscode/

#MacOS hidden files
.DS_Store

#Windows hidden files
Thumbs.db

#Log Files
*.log

#Test cache
.pytest_cache/

#Type checker cache
.mypy_cache/

#Coverage Reports
.coverage
htmlcov/