{% extends "base.html" %}

{% block title %}{{page_title}}{% endblock %}


{% block content %}
    <h2>{{page_title}}</h2>
    <p>Recommended Animes: {{count_rev}}</p>
    {% for anime in animes %}
        <article>
            <h3>{{anime.title}}</h3>
            <span>{{anime.created_at}}</span>
        </article>
    {% empty %}
        <p>No animes yet.</p>
    {% endfor %}
    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            <span>
                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}