{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}

     <section class="page_s">
        <h2>Register Page</h2>
        <p>Welcome to register page</p>
    </section>
    <section class="page_c">
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" value="{{username}}" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="email" name="email" placeholder="Email" value="{{email}}" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login here</a>
    </section>

{% endblock %}