{% extends "base.html" %}

{% block title %}Bigs{% endblock %}

{% block content %}
    <p>{{bigs.count}}</p>
    {% for big in bigs %}
        <span>{{big.name|truncatewords:10}}</span>
        <span>{{big.category.name}}</span>
    {% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
            <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        </div>
    {% endif %}
{% endblock %}