{% extends "base.html" %}

{% block title %}Delete Post id: {{post.id}}{% endblock %}

{% block content %}
    <section class="delete-page">
        <div class="delete-card">
            <h2>Delete Post id: {{post.id}}</h2>
            <p>Are you sure you want to delete this post?</p>
            <h3>Title: {{post.title}}</h3>
            <form method="POST">
                {% csrf_token %}
                <p>This action cannot be undone.</p>
                <p>You are deleteing: <strong>{{post.title}}</strong></p>
                <label name="checkbox">Confirm</label>
                <input type="checkbox" required>
                <button type="submit" class="btn-delete-confirm">Delete</button>
                <a href="{% url 'post_details' post.slug %}" class="btn-cancel">Cancel</a>
            </form>
        </div>
    </section>

{% endblock %}