{% extends "base.html" %}

{% block title %}{{author.name}} Create Post{% endblock %}


{% block content %}

    <h2>Author: {{author.name}} => Create new Post</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <input type="number" name="views" placeholder="Views">
        <input type="number" name="rating" placeholder="Rating">
        <button type="submit">Create</button>
    </form>


{% endblock %}
